<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qxw.qxwfirst">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.qxw.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">

    </activity>
        <activity android:name=".selcet_city">

        </activity>

        <activity android:name=".guid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>


    </application>

</manifest>
